<template>
    <div>
        <button @click="showPanel()"> Show panel </button>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur debitis, dolore dolorum eius illo, ipsum laborum odit optio quaerat quidem reiciendis saepe sint veritatis voluptate. At facere neque nihil.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur debitis, dolore dolorum eius illo, ipsum laborum odit optio quaerat quidem reiciendis saepe sint veritatis voluptate. At facere neque nihil.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur debitis, dolore dolorum eius illo, ipsum laborum odit optio quaerat quidem reiciendis saepe sint veritatis voluptate. At facere neque nihil.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur debitis, dolore dolorum eius illo, ipsum laborum odit optio quaerat quidem reiciendis saepe sint veritatis voluptate. At facere neque nihil.</p>
    </div>
</template>
<script>
    import { eventBus } from "../../helpers/eventBus";

    export default {
        methods: {
            showPanel() {
                console.log('emit showPanel event');
                eventBus.$emit('showPanel');
            }
        }
    }
</script>