<template>
    <div class="panel">
        <button @click="hidePanel()">
            Hide panale
        </button>
    </div>
</template>
<script>
    import { eventBus } from "../../helpers/eventBus";

    export default {
        methods: {
            hidePanel() {
                console.log('emit hidePanel event');
                eventBus.$emit('hidePanel');
            }
        }
    }
</script>
<style scoped>
    .panel {
        width: 100%;
        height: 100vh;
        z-index: 999999999;
        overflow: hidden;
        background-color: blue;
        position: fixed;
        top: 0;
        left: 0;
    }
</style>