<template>
    <div id="app">
        <child></child>
        <transition name="slide-up" mode="out-in">
            <panel v-if="showPanel"></panel>
        </transition>
    </div>
</template>
<script>
import Child from './components/Child';
import Panel from './components/SlidePanel';
import {eventBus} from "../helpers/eventBus";

export default {
    name: 'App',
    data() {
        return {
            showPanel: false,
        }
    },
    components: {
        Child,
        Panel
    },
    created() {
        eventBus.$on('showPanel', async() => {
            console.log('show panel in root component');
            this.showPanel = true;
        });
        eventBus.$on('hidePanel', async() => {
            console.log('hide panel in root component');
            this.showPanel = false;
        });
    }
}
</script>
<style>
    /* normalize styles */
    body {
        margin: 0;
        padding: 0;
    }
    * {
        box-sizing: border-box;
    }
    #app {
        width: 100%;
        height: 100vh;
        background: chocolate;
    }

    /* slide from up to down */
    .slide-up-leave-active {
        animation: slide-out-up .4s linear;
    }

    .slide-up-enter-active {
        animation: slide-in-up .4s linear forwards;
    }

    .slide-up-in-leave-active {
        animation: slide-out-up .4s linear;
    }

    .slide-up-leave {
        opacity: 1;
        transform: translateY(-100%);
    }

    @keyframes slide-out-up {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-100%);
        }
    }
    @keyframes slide-in-up {
        0% {
            transform: translateY(-100%);
        }
        70% {
            transform: translateY(0);
        }
        90% {
            transform: translateY(-10%);
        }
        100% {
            transform: translateY(0);
        }
    }
</style>